openapi: 3.0.1

components:
  schemas:
    DummyAPIRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        nextItems:
          $ref: ''